.row
  .col-md-8.col-lg-8.col-sm-8
    .row
      .col-md-8.col-lg-8.col-sm-4.wrap#menu
        %h1 Ostatnie Zamówienia
        - @orders.take(4).each do |order|
          %p
            = order.site.url
            %span
              = order.name
              = order.total
              = order.status
          %hr
      .col-md-4.col-lg-4.col-sm-8#news
        %h1 Linki
        = link_to "Twoje linki na strony", products_path, class: 'btn btn-info'

    .row
      .col-md-4.col-lg-4.col-sm-4#subtotal
        %h1 Ten miesiąc
        %h1= "#{@total} PLN"
        = link_to "Podsumowanie", summary_path, class: "btn btn-md btn-primary"

      .col-md-8.col-lg-8.col-sm-8#chart
        %h1 Ostatnie 7 dni
        = line_chart Visitor.group_by_day(:created_at, range: @t1..@t2).where(uniq:true).count, height: "250px", width: "550px", library: {backgroundColor: "#FE9800"}


  .col-md-3.col-lg-3.col-sm-3.wrap#sites
    %h1 Top 10 miesiąca
    - @sites.each do |site|
      %p
        = site.url
        %span{style: "color: black"}
          %span.badge.badge-visitors= site.visitors.length
      %hr
    = link_to "Przejdź do stron", sites_path, class: "btn btn-primary"
%script
  $('option').each(function(){
  var text=$(this).text()
  if (text.length > 59) {
  $(this).val(text).text(text.slice(0,95)+'…'+ text.slice(-5));
  }
  })
