= javascript_include_tag "//www.google.com/jsapi", "chartkick"
.sites-page
  .row
    %div.panel.panel-default.col-md-10.col-md-offset-1#canvasdrawboard
      -#%canvas#canvas
      - if @flag == true
        = line_chart Visitor.group_by_hour(:created_at, range: @t1..@t2).where(uniq:true).count
      - else
        = line_chart Visitor.group_by_day(:created_at, range: @t1..@t2).where(uniq:true).count

      = form_tag({:controller => "dashboard", :action => "show_custom_month"}, class:"chart-form") do
        %input#startdate{type: "text", name: "startdate", placeholder: "start"}
        %input#enddate{type: "text", name: "enddate", placeholder: "koniec"}
        %input{type: "checkbox", name: "hour_flag"}  show hours?
        %br
          = select_tag "site_url", options_from_collection_for_select(current_user.sites.order(visitors_count: :desc), "id", "url")
        %br
        = submit_tag 'filtruj', class: 'btn btn-sm btn-primary'

  .row

  %table.table.table-hover.wrap.tablesorter
    %thead
      %tr
        %th{width: "5%"} #ID
        %th{width: "40%"} #URL
        %th Unikalne
        %th Odsłony
        %th Zamówienia
        %th  Ratio
        %th Produkt
    %tbody
      - @sites.each do |site|
        %tr
          %td= site.id
          %td= site.url
          %td= site.visitors.length
          %td= site.visitors_count
          %td= site.orders.where(created_at: @t1..@t2).length
          - if site.visitors.length != 0 && site.orders.length != 0
            %td= "1/#{site.visitors.length / site.orders.length}"
          - else
            %td
              0/#{site.visitors.length}
          %td= site.product.name

  %script
    $('#startdate').datepicker({dateFormat: 'yy-mm-dd'});
    $('#enddate').datepicker({dateFormat: 'yy-mm-dd'});
    $('option').each(function(){
    var text=$(this).text()
    if (text.length > 59) {
    $(this).val(text).text(text.slice(0,95)+'…'+ text.slice(-5));
    }
    })
    $(".table").tablesorter();
