.authform
  %h3
    Edit #{resource_name.to_s.humanize}
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f|
    = devise_error_messages!
    .form-group
      = f.label :email
      = f.email_field :email, :autofocus => true, class: 'form-control'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
    %fieldset
      %p Pozostaw te pola puste, jeśli nie chcesz zmieniać hasła
      .form-group
        = f.label :hasło
        = f.password_field :password, :autocomplete => 'off', class: 'form-control'
      .form-group
        = f.label :potwierdzenie
        = f.password_field :password_confirmation, class: 'form-control'
    %fieldset
      %p You must enter your current password to make changes.
      .form-group
        = f.label :obecne_hasło
        = f.password_field :current_password, class: 'form-control'
    = f.submit 'Zmień', :class => 'button right'
.authform
  -# %h3 Usuń konto
  -# %p Unhappy? We'll be sad to see you go.
  -# = button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button right'
