= simple_form_for @order do |f|
 -#= f.input :product_id
 -#= f.input :user_id
 = f.input :total
 = f.input :payment_type
 = f.input :name
 = f.input :surname
 = f.input :address
 = f.input :zip
 = f.input :city
 = f.input :description
 = f.input :phone_number
 = f.input :status
 = f.submit "zapisz", class: "btn btn-primary"