%tr{id:"order_#{order.id}"}
  -#%td= order.id
  %td= order.ip
  %td= order.product.name
  %td= order.site.url
  %td= order.created_at.strftime("%d %b. %Y %H:%M")
  %td= order.total
  %td= order.payment_type
  %td= order.status
  -#%td= order.name
  -#%td= order.surname
  -#%td= order.phone_number
  -#%td= order.address
  -#%td= order.city
  -#%td= order.zip
  -#%td= order.status
  -#%td= order.description
  %td
    = link_to '', order_path(order), class: "btn btn-info btn-small glyphicon glyphicon-zoom-in", remote: true
    = link_to '', edit_order_path(order), class: "btn btn-info btn-small glyphicon glyphicon-pencil", remote: true
    = link_to '', order, method: :delete, class: "btn btn-danger btn-small glyphicon glyphicon-minus-sign", remote: true, data: {confirm: "Na pewno usunąć zamówienie?"}
