%p= @order.ip
%p= @order.product.name
%p= @order.site.url
%p= @order.created_at.strftime("%d %b. %Y %H:%M")
%p= "Zamówienie za: #{@order.total} zł"
%p= @order.payment_type
%p= @order.status
%p DANE ZAMAWIAJĄCEGO:
%p= @order.name
%p= @order.surname
%p= @order.phone_number
%p= @order.address
%p= @order.city
%p= @order.zip
%p= @order.status
%p= @order.description
