$('#dialog h4').html("<i class=' glyphicon glyphicon-zoom-in'></i> Szczegóły zamówienia");
$('.modal-body').html('<%= j render("order_list", object: @order) %>');
$('#dialog').modal("show");
$('#dialog').on('shown.bs.modal', function () {
  $('.first_input').focus();
});