$('#dialog h4').html("<i class=' glyphicon glyphicon-pencil'></i> Edytuj zamówienie");
$('.modal-body').html('<%= j render("form") %>');
$('#dialog').modal("show");
$('#dialog').on('shown.bs.modal', function () {
    $('.first_input').focus();
});