#orders
  %table.wrap.tablesorter
    %thead
      %tr
        -#%th{width: "3%"} #ID
        %th #IP
        %th #Produkt
        %th{width: "20%"} #Strona
        %th #utworzono
        %th{width: "5%"} #Kwota
        %th{width: "10%"} #Typ
        %th #status
        -#%th #Imię
        -#%th #Nazwisko
        -#%th #Telefon
        -#%th #Adres
        -#%th #Miasto
        -#%th #Kod
        -#%th #Stan
        -#%th #Uwagi
        %th #Akcje
    %tbody
      = render @orders
= will_paginate @orders, renderer: BootstrapPagination::Rails
  
