#orders
  .current_month
    =link_to '', summary_path(time: @time - 1.month), class: 'glyphicon glyphicon-chevron-left'
    = @time.strftime("%Y %m")
    =link_to '', summary_path(time: @time + 1.month), class: 'glyphicon glyphicon-chevron-right'

  - @orders.each do |day,sum|
    .col-md-4
      %h2
        = day.strftime("%Y  %m %d")
        = link_to '', monthly_summary_path(date: day), class: "btn btn-info btn-small glyphicon glyphicon-zoom-in"
      - if current_user.partner?
        %p= "suma: #{sum * 0.3}"
      - else
        %p= "suma: #{sum}"
