.modal.fade#dialog.wrap
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(data-dismiss="modal" atia-label="Close")
          %span(aria-hidden="true") &times;
        %h4
      .modal-body
      .modal-footer

