!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Partnership"
    %meta{:content => "#{content_for?(:description) ? yield(:description) : "Partnership"}", :name => "description"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
    = render 'layouts/navigation'
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    %main{:role => "main"}
      .container.starter-template
        = render 'layouts/messages'
        = yield
        = render 'layouts/dialog'
