var hours_values = new Array();


<% @hours.each do |hour| %>
hours_values.push(<%= hour %>);
<%end%>
var label = new Array();
for (i=0; i < <%= @hours.count %>; i++) {
    label.push(i.toString());
}
var lineChartData = {
    labels : label,
    datasets : [
        {
            label: "My First dataset",
            fillColor : "rgba(220,220,220,0.2)",
            strokeColor : "rgba(220,220,220,1)",
            pointColor : "rgba(220,220,220,1)",
            pointStrokeColor : "#fff",
            pointHighlightFill : "#fff",
            pointHighlightStroke : "rgba(220,220,220,1)",
            data : hours_values
        }

    ]
};
$( "#canvas" ).remove();
$('#canvasdrawboard').append('<canvas height="400" id="canvas" width="900"></canvas>');
var ctx = document.getElementById("canvas").getContext("2d");
window.myLine = new Chart(ctx).Line(lineChartData, {
    responsive: true
});