function daysInMonth(month,year) {
    return new Date(year, month, 0).getDate();
}
var data_values = new Array();
<% @days.each do |day| %>
data_values.push(<%= day %>);
<%end%>
var label = new Array();
for (i=1; i < <%= @days.count %>; i++) {
    label.push(i.toString());
}

var lineChartData = {
    labels : label,
    datasets : [
        {
            label: "My First dataset",
            fillColor : "rgba(220,220,220,0.2)",
            strokeColor : "rgba(220,220,220,1)",
            pointColor : "rgba(220,220,220,1)",
            pointStrokeColor : "#fff",
            pointHighlightFill : "#fff",
            pointHighlightStroke : "rgba(220,220,220,1)",
            data : data_values
        }

    ]
};
$( "#canvas" ).remove();
$('#canvasdrawboard').append('<canvas height="400" id="canvas" width="900"></canvas>');
var ctx = document.getElementById("canvas").getContext("2d");
window.myLine = new Chart(ctx).Line(lineChartData, {
    responsive: true
});