// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#canvasdrawboard {
  margin-top: 15px;
  padding-left: 0;
  //height: 400px;
  //width: 900px;
}
.wrap {
  word-wrap: break-word;
  table-layout: fixed;
}
.ui-datepicker-next {
  background-image: url("strzalka.png");
}
.ui-datepicker-prev {
  background-image: url("strzalka.png");
}
tr > td {

  font-size: 10px;
  padding-right: 7px;
}
#orders > table > thead > tr > th
{
  text-align: center;
}
.modal-content {
  color: black;
}
