// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.current_month {
  color: inherit;
  font-size: 24px;
}

.current_month > a {
  color: inherit;
}
