body {

    background-color: black;
}
main {
  margin-top: 20px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
    color: white;
}

#menu {
	background-color: #eb672d;
	margin-left: -15px;
  min-height: 433px;
  transition: all 0.4s ease;
}

#news {
	background-color: #9b4177;
	margin-left: 15px;
  min-height: 433px;
  transition: all 0.4s ease;
}

#sites {
	background-color: #1DAFC8;
  transition: all 0.4s ease;
	margin-left: 15px;
    padding-bottom: 10px;
  min-height: 433px;

}


#subtotal {
	background-color: #4BBBB3;
    margin-left: -15px;
	margin-top: 10px;
  min-height: 350px;
  transition: all 0.4s ease;
}


#chart {
	background-color: #FE9800;
	margin-left: 15px;
	margin-top: 10px;
  height: 350px;
  transition: all 0.4s ease;
}

.dashboard-item
	{
		margin: 10px;
	}
.chart-form {
  color: black;
}
body > main > div > div.sites-page > table > thead > tr > th:nth-child(n) {
  background-color: #FE9800;
}
.sites-page {
  background-color: #FE9800;

}
.navbar-energized {
  background-color: #065462;
  color: white;
}

body > nav > div > div.navbar-header > a
{
  color:white;
}
body > nav > div > div.collapse.navbar-collapse > ul > li:nth-child(n) > a
{
  color: white;
}
input {
  color: black;
}
//#sites > p:nth-child(2n)
//{
//  background-color: #237483;
//}
//#sites > p:nth-child(2n + 1)
//   {
//     background-color: #06D3F9;
//   }
#orders {
  background-color: #eb672d;
}
a.btn.btn-small.glyphicon {
  font-size: 12px;
}
#orders > table tr {
  height: 45px;
}
.badge-visitors {
 background-color: #237483;
}
#orders > table > thead > tr > th
{
  background-color: #eb672d;
}
#subtotal > table > thead > tr > th {
  background-color: #4BBBB3;
}
