- if user_signed_in?
  -if current_user.admin?
    %li= link_to 'Zamówienia', orders_path
  %li= link_to 'Strony', sites_path
  %li= link_to 'Edycja danych', edit_user_registration_path
  %li= link_to 'Wyloguj się', destroy_user_session_path, :method=>'delete'
- else
  %li= link_to 'Zaloguj się', new_user_session_path
  %li= link_to 'Zarejestruj się', new_user_registration_path
